body{
    margin: 0;
    padding: 0;
    background-color: rgb(144, 186, 222);
}
header{
    background-color: rgb(4, 31, 52);
    color: white;
    text-align: center;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
header nav a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}
header .titre{
    padding-top: 10px;
}
.logo{
    text-align: center;
    margin: 10px;
    font-size: 15px;
}
.science{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    padding-bottom: 10px;
}
section .haut{
    color: white;
    font-size: 15px;
    background-color: rgb(4, 31, 52);
    padding: 10px;
    
}
.btn1{
    margin: 15px;
}
.btn2{
    margin: 15px;
}
.btn3{
    margin: 15px;
}
section .bas button{
    background-color: rgb(8, 51, 85);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.liste{
    text-align: center;
}
.pubs .liste{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pubs .liste .pub{
background-color: white;
padding: 20px;
margin-bottom: 20px;
margin-right: 15px;
border-radius: 15px;
margin-top: 15px;
}
.pubs .liste .pub img{
    height: 60px;
}
.pubs .liste .pub button{
    font-size: 18px;
    margin-top: 30px;
    background-color: rgb(8, 51, 85);
    color: white;
    padding: 4px;
    border-radius: 4px;
    border: none;
}


section .bas button:hover{
    background-color: rgb(16, 99, 163);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.pubs .liste .pub button:hover{
    font-size: 18px;
    margin-top: 30px;
    background-color:rgb(16, 99, 163);
    color: white;
    padding: 4px;
    border-radius: 4px;
    border: none;
}
a:hover{
    color: yellow;
    
}

